
body {
    background-color: #F5DFBB;
    align-items: center;
    font-family: 'Koulen',sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#562c2c;
    width: 100%;
    height: 145px;
    margin: 3;
    text-align: left;
    margin-top: 0px;
}


nav a:hover {
    background-color: #F2542D;
    color: #127475;
    border-radius: 5px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 5px 20px;
    padding-top: 10px;
    padding-bottom: 20;
    margin-bottom: 50px;
    border-radius: 5px;
    
}

nav {
    margin-bottom: 10px;
}
h4 {
    color: #000000;
}
footer h3 {
    color: #000000;
    text-align: left;
}

footer a {
    color: #000000;
    text-decoration: none;
    
}

footer:hover {
    color: #000000;
}

footer {
    padding: 25px 50px;
    padding-top: 15px;
}

h2 {
    margin: 0;
}

#content {
    width: fit-content;
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}

#logo-link {
    padding-top: 5px;
}

.card-img {
    padding-top: 20px;
}
.button-box {
    text-align: center;
}

.home-title {
    color: #000000; 
    font-size: 3em;
    font-family: 'Permanent Marker';
} 

.rivers-card {
    text-align: center;
}

.camping-card {
    text-align: center;
}

.rapids-card {
    text-align: center;
}

.background {
    height: 725px;
    background-color: #0E9594;
}

.book {
    background-color: #F2542D;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 5    0px;
    border-radius: 5px;
}

.button-box {
    margin-bottom: 100px;
}

.join {
    color: #000000;
    text-decoration: none;
    background-color: #F2542D;
    font-size: 18px;
    padding: 5px 20px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.book:hover {
    color: #0E9594;
}

.join:hover {
    color: #127475;
}

.mountains {
    text-align: left;
}

.msg h2 {
    color: #000000;
}

.msg p {
    color: #000000;
    font-size: .8em;
    padding-bottom: 15px;
    
}

.msg {
    background-color: #127475;
    text-align: center;
    line-height: 1.5em;
    padding: 35px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.social {
    text-align: left;
    padding-top: 15px;
}

