@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=IBM+Plex+Sans:wght@300&family=Koulen&family=Libre+Barcode+39+Text&family=Nunito+Sans&family=Nuosu+SIL&family=Permanent+Marker&family=Rock+Salt&family=Sedgwick+Ave+Display&family=Special+Elite&display=swap');

/* general settings */
h1 {
    font-family: "Sedgwick Ave Display";
    text-align: center;
}
h3 {
    font-family: "Sedgwick Ave Display";
    justify-content: center;
}

h2 {
    font-family: "Sedgwick Ave Display";
    justify-content: center;
}
body {
    background-color: #F0F6F6;
    max-width: 1600px;
    display: grid;
    align-items: center;
    margin: 0 auto;
    font-family: "Nunito", Helvetica, sans-serif;
}
/* END GENERAL SETTINGS */

/* Nav Bar */
header {
    text-align: left;
    display: grid;
    grid-template-columns: auto repeat(4, 150px) auto;
    grid-template-rows: 10px 50px 10px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #000000;
    border-radius: 50px 50px;
    margin-top: 10px;
}

.nav-head-home {
    text-decoration: none;
    color: white;
}
.nav-head-projects{
    text-decoration: none;
    color: white;
}
.nav-head-photography {
    text-decoration: none;
    color: white;
}
.nav-head-home:hover {
    text-decoration-color: white;
    text-decoration: underline;
    color: white;
}
.nav-head-projects:hover {
    text-decoration-color: white;
    text-decoration: underline;
    color: white;
}
.nav-head-photography:hover {
    text-decoration-color: white;
    text-decoration: underline;
    color: white;
}
.div1 { 
    display: flex;
    grid-area: 2 / 1 / 3 / 2; 
    justify-content: left;
    margin-left: 50px;
}
.div2 { 
    grid-area: 2 / 2 / 3 / 3; 
    display: flex;
    justify-content: center;
    margin-top: 12px;
    font-family: "Sedgwick Ave Display";
    font-size: 20px;
}
.div3 { 
    grid-area: 2 / 3 / 3 / 4; 
    display: flex;
    justify-content: center;
    margin-top: 12px;
    font-family: "Sedgwick Ave Display";
    font-size: 20px;
}
.div4 { 
    grid-area: 2 / 4 / 3 / 5; 
    display: flex;
    justify-content: center;
    margin-top: 12px;
    font-family: "Sedgwick Ave Display";
    font-size: 20px;    
}
/* Nav Bar */

/* START About */
.about-me {
    background-color: #F4EDEA;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 20px 300px 50px repeat(3, auto) 20px;
    grid-template-rows: 20px 1fr 10px 1fr 10px 1fr 10px 1fr 20px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.about1 {
    grid-area: 2 / 2 / 3 / 3; 
    text-align: center;
    background-color: white;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    padding-top: 60px;
    transition: transform .5s;
}
.about2 {
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
    background-color: white;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    padding-top: 60px;
    transition: transform .5s;
}
.about3 {
    grid-area: 6 / 2 / 7 / 3;
    text-align: center;
    background-color: white;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    padding-top: 60px;
    transition: transform .5s;
}
.about4{
    grid-area: 8 / 2 / 9 / 3;
    text-align: center;
    background-color: white;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    padding-top: 60px;
    transition: transform .5s;
}
.about1:hover {
    grid-area: 2 / 2 / 3 / 3; 
    text-align: center;
    background-color: white;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    padding-top: 60px;
    transform: scale(1.1);
}
.about2:hover {
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
    background-color: white;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    padding-top: 60px;
    transform: scale(1.1);
}
.about3:hover {
    grid-area: 6 / 2 / 7 / 3;
    text-align: center;
    background-color: white;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    padding-top: 60px;
    transform: scale(1.1);
}
.about4:hover {
    grid-area: 8 / 2 / 9 / 3;
    text-align: center;
    background-color: white;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    padding-top: 60px;
    transform: scale(1.1);
}
.about-content {
    grid-area: 2 / 4 / 9 / 7;
    width: 100%;
    border: 3px solid#000000;
    border-radius: 10px 10px ;
}

/* END About */

/* first article personal project */
.personal-title1 {
    margin-top: 60px;
}
.personal-project {
    background-color: #F4EDEA;
    display: grid;
    grid-template-columns: 20px 1fr 20px repeat(2, 1fr) 20px;
    grid-template-rows: 20px 50px 20px 1fr 20px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    margin-bottom: 30px;

}

.personal-pro-image {
    grid-area: 2 / 2 / 5 / 3; 
    padding-left: 125px;
    align-items: center;
    justify-content: center;
    width: 50%;
}   
.personal-pro-content {
    grid-area: 4 / 4 / 5 / 6; 
    font-size: 20px;
}

.personal-pro-title {
    grid-area: 2 / 4 / 3 / 6; 
    text-align: center;
}
/* END first article personal project */

/* START EC2 */
.EC2 {
    background-color: #F4EDEA;
    display: grid;
    grid-template-columns: 20px 1fr 20px repeat(2, 1fr) 20px;
    grid-template-rows: 20px 50px 20px 1fr 20px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    margin-bottom: 30px;
}

.ec2-image {
    grid-area: 2 / 2 / 5 / 3; 
    padding-left: 125px;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.ec2-content {
    grid-area: 4 / 4 / 5 / 6; 
    font-size: 20px;
}
.ec2-title {
    grid-area: 2 / 4 / 3 / 6; 
    text-align: center;
}
/* END EC2 */

/* START Linux */
.linux {
    background-color: #F4EDEA;
    background-color: #F4EDEA;
    display: grid;
    grid-template-columns: 20px 1fr 20px repeat(2, 1fr) 20px;
    grid-template-rows: 20px 50px 20px 1fr 20px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    margin-bottom: 60px;
}
.linux-title {
    grid-area: 2 / 4 / 3 / 6; 
    text-align: center;
}

.linux-image {
    grid-area: 2 / 2 / 5 / 3; 
    padding-left: 125px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.linux-content {
    grid-area: 4 / 4 / 5 / 6; 
    font-size: 20px;
}
/* END Linux */

/* Start-Photography */
.photography {
    background-color: #F4EDEA;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    display: grid;
    grid-template-columns: auto 500px 20px 500px 20px 500px auto;
    grid-template-rows: 30px 325px 5px 50px 30px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 60px;


}

.lighthouse-home {
    grid-area: 2 / 2 / 3 / 3;
    transition: transform .5s;
    border: 3px solid#000000;
    border-radius: 10px 10px ;
    
}

.sandy-home {
    grid-area: 2 / 4 / 3 / 5;
    transition: transform .5s;
    border: 3px solid#000000;
    border-radius: 10px 10px ;
}

.skyline-home {
    grid-area: 2 / 6 / 3 / 7;
    transition: transform .5s;
    border: 3px solid#000000;
    border-radius: 10px 10px ;
}

.lighthouse-home:hover {
    grid-area: 2 / 2 / 3 / 3;
    transform: scale(1.1);
    
}

.sandy-home:hover {
    grid-area: 2 / 4 / 3 / 5;
    transform: scale(1.1);
}

.skyline-home:hover {
    grid-area: 2 / 6 / 3 / 7;
    transform: scale(1.1);
}

.lighthouse-title {
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
    transition: text-shadow .45s;
}
.lighthouse-title:hover {
    grid-area: 4 / 2 / 5 / 3;
    text-shadow: 2px 2px #06BCC1;
    text-align: center;

}
.sandy-title {
    grid-area: 4 / 4 / 5 / 5;
    text-align: center;
    transition: text-shadow .45s;
}
.sandy-title:hover {
    grid-area: 4 / 4 / 5 / 5;
    text-shadow: 2px 2px #06BCC1;
    text-align: center;
}
.nyc-title {
    grid-area: 4 / 6 / 5 / 7;
    text-align: center;
    transition: text-shadow .45s;
}
.nyc-title:hover {
    grid-area: 4 / 6 / 5 / 7;
    text-shadow: 2px 2px #06BCC1;
    text-align: center;
}
/* End-Photography */

/* Start Footer */
footer {
    display: grid;
    grid-template-columns: 20px auto 300px repeat(4, 150px) auto;
    grid-template-rows: 10px 50px 10px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: left;
    background-color: #000000;
    border-radius: 50px 50px;
    margin-bottom: 10px;
}

.footer-copyright {
    color: white;
    grid-area: 2 / 2 / 3 / 4;
    text-align: center;
    padding-bottom: 30px;
}

.navigation {
    grid-area: 2 / 4 / 3 / 8;   
}

.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Sedgwick Ave Display";
}

.navigation a:hover {
    text-decoration: underline;
    color: white;
  }
/* END Footer */

.sadboi {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
.title {
    color: grey;
    font-size: 18px;
  }
  
.button-sad {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
.sadboi-link{
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
.button-sad:hover, a:hover {
    opacity: 0.7;
  }

.linux-sub {
    background-color: #F4EDEA;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    display: grid;
    grid-template-columns: 30px 1fr 1500px 1fr 30px;
    grid-template-rows: 30px 50px 100px 50px 100px 200px 50px 100px 200px 50px 100px 500px 30px;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.linux-title-sub {
    grid-area: 2 / 3 / 3 / 4;
}

.linux-content1-sub {
    grid-area: 3 / 3 / 4 / 4;
}

.linux-title2-sub {
    grid-area: 4 / 3 / 5 / 4;
}

.linux-content2 {
    grid-area: 5 / 3 / 6 / 4;  
}

.linux-image3 {
    grid-area: 6 / 3 / 7 / 4; 
    width: 10%;
    margin: auto;
    display: block;
}

.linux-title3-sub {
    grid-area: 7 / 3 / 8 / 4;
}

.linux-content3 {
    grid-area: 8 / 3 / 9 / 4;
}

.linux-image2 {
    grid-area: 9 / 3 / 10 / 4;
    width: 10%;
   justify-content: center;
   margin: auto;
   display: block;
}

.linux-title4-sub {
    grid-area: 10 / 3 / 11 / 4;
}

.linux-content4-sub {
    grid-area: 11 / 3 / 12 / 4;
}

.linux-image1-image {
    grid-area: 12 / 3 / 13 / 4;
    width: 10%;
    margin: auto;
    display: block;

}

.content-personal-aws {
    background-color: #F4EDEA;
    border: 3px solid#000000;
    box-shadow: 10px 10px black;
    border-radius: 10px 10px ;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 30px 1fr 1500px 1fr 30px;
    grid-template-rows: 30px repeat(3, 1fr) 30px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.aws-content-stuff { grid-area: 2 / 3 / 5 / 4; }